<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VeritabanıGörsel.Properties.Settings.machineConnectionString"
            connectionString="Data Source=DESKTOP-JTEMF7K\SQLEXPRESS;Initial Catalog=machine;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>